<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398671898500-d0oea6s08sr0nc1nc1rgf00hbm4nrc2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398671898500-d0oea6s08sr0nc1nc1rgf00hbm4nrc2k</string>
	<key>API_KEY</key>
	<string>AIzaSyBYl7JLTg1cDag10CUiXsvpvvTnD2vhZNk</string>
	<key>GCM_SENDER_ID</key>
	<string>398671898500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anhdinh.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-b2978</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-b2978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398671898500:ios:628ee1f794876c2ceb5fd1</string>
</dict>
</plist>